[{linc,
     [{of_config,disabled},
      {software_desc,<<"LINC-OE OpenFlow Software Switch 1.1">>},
      {capable_switch_ports,
          [{port,1,[{interface,"dummy"},{type,optical}]},
           {port,2,[{interface,"dummy"},{type,optical}]},
           {port,3,[{interface,"dummy"},{type,optical}]},
           {port,4,[{interface,"dummy"},{type,optical}]},
           {port,5,[{interface,"dummy"},{type,optical}]},
           {port,6,[{interface,"dummy"},{type,optical}]},
           {port,7,[{interface,"dummy"},{type,optical}]},
           {port,8,[{interface,"dummy"},{type,optical}]},
           {port,9,[{interface,"dummy"},{type,optical}]},
           {port,10,[{interface,"dummy"},{type,optical}]},
           {port,11,[{interface,"tap11"}]},
           {port,12,[{interface,"tap12"}]}]},
      {capable_switch_queues,[]},
      {optical_links,
          [{{1,2},{2,1}},
           {{1,3},{5,1}},
           {{2,2},{3,1}},
           {{3,2},{4,2}},
           {{5,2},{4,3}}]},
      {logical_switches,
          [{switch,1,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:00:00:00:00:00:11"},
                {controllers,
                    [{"Switch0-Controller","192.168.137.150",6633,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,1,[{queues,[]},{port_no,2}]},
                     {port,3,[{queues,[]},{port_no,3}]},
                     {port,11,[{queues,[]},{port_no,1}]}]}]},
           {switch,2,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:00:00:00:00:00:12"},
                {controllers,
                    [{"Switch0-Controller","192.168.137.150",6633,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,2,[{queues,[]},{port_no,1}]},
                     {port,5,[{queues,[]},{port_no,2}]}]}]},
           {switch,3,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:00:00:00:00:00:13"},
                {controllers,
                    [{"Switch0-Controller","192.168.137.150",6633,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,6,[{queues,[]},{port_no,1}]},
                     {port,7,[{queues,[]},{port_no,2}]}]}]},
           {switch,4,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:00:00:00:00:00:14"},
                {controllers,
                    [{"Switch0-Controller","192.168.137.150",6633,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,8,[{queues,[]},{port_no,2}]},
                     {port,10,[{queues,[]},{port_no,3}]},
                     {port,12,[{queues,[]},{port_no,1}]}]}]},
           {switch,5,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:00:00:00:00:00:15"},
                {controllers,
                    [{"Switch0-Controller","192.168.137.150",6633,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,4,[{queues,[]},{port_no,1}]},
                     {port,9,[{queues,[]},{port_no,2}]}]}]}]}]},
 {epcap,[{verbose,false},{stats_interval,10}]},
 {enetconf,
     [{capabilities,
          [{base,{1,0}},
           {base,{1,1}},
           {startup,{1,0}},
           {'writable-running',{1,0}}]},
      {callback_module,linc_ofconfig},
      {sshd_ip,any},
      {sshd_port,1830},
      {sshd_user_passwords,[{"linc","linc"}]}]},
 {lager,
     [{handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{"log/error.log",error,10485760,"$D0",5},
                {"log/console.log",info,10485760,"$D0",5}]}]}]},
 {sasl,
     [{sasl_error_logger,{file,"log/sasl-error.log"}},
      {errlog_type,error},
      {error_logger_mf_dir,"log/sasl"},
      {error_logger_mf_maxbytes,10485760},
      {error_logger_mf_maxfiles,5}]},
 {sync,[{excluded_modules,[procket]}]}].
